{% extends 'general/general.html' %}
{% block mainblock %}
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	exportEnabled: true,
	animationEnabled: true,
	title:{
		text: "Region-wise Opinion Analysis"
	},
	legend:{
		cursor: "pointer",
		itemclick: explodePie
	},
	data: [{
		type: "pie",
		showInLegend: true,
		toolTipContent: "{name}: <strong>{y}</strong>",
		indexLabel: "{name} - {y}",
		dataPoints: [
		{% for dd in d %}
			{ y: {{dd.dcount}}, name: "{{dd.user__location}}"},
		{% endfor %}
		]
	}]
});
chart.render();
}

function explodePie (e) {
	if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
		e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
	} else {
		e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
	}
	e.chart.render();

}
</script>

<script>
    function myFunction() {
    var x = document.getElementById("chartoption").value;
    if(x == "accuracy"){
    window.location.href="{% url 'admins:charts' 'column' %}";
    }
    else if(x == "clusterwise"){
    window.location.href="{% url 'admins:charts1' 'pie' %}";
    }
    else if(x == "orginalclus"){
    window.location.href="{% url 'admins:charts2' 'bar' %}";
    }
    else if(x == "sentiment"){
    window.location.href="{% url 'admins:charts3' 'bar' %}";
    }
}
</script>
<select id="chartoption" onchange="myFunction()">
    <option>Please Select the Type of the Chart Analysis</option>

    <option value="clusterwise">Knowledge based Opinion</option>
    <option value="orginalclus">Region-wise Opinion Analysis</option>
    <option value="sentiment">Sentiment-Wise</option>
</select>
<div id="chartContainer" style="height: 500px; width: 800px;margin-top:-10px;margin-left:330px"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}